html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#loading-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  backdrop-filter: blur(17px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #333;
  z-index: 9999;
  opacity: 1;
  transition: opacity .4s;
}
.cameraInactive{
  background-color: white;
}
.cameraActive{
  background-color: orange;
}
.btnDrone{
  font-size: 16px;
  position: absolute;
  z-index: 99;
  right: 20px;
  bottom: 20px;
  border-radius: 300px;
  padding: 20px;
  box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  border: 0px;
}
.btnFly{
  font-size: 16px;
  position: absolute;
  z-index: 99;
  right: 20px;
  bottom: 108px;
  border-radius: 300px;
  padding: 20px;
  box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  border: 0px;
}
.btnFirstPerson{
  font-size: 16px;
  position: absolute;
  z-index: 99;
  right: 20px;
  bottom: 196px;
  border-radius: 300px;
  padding: 20px;
  box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
  border: 0px;
}